{% extends "layout.html"%}

{%block content%}

<div class="col-xs-6">
    {%from "_macro.html" import render_field %}
    <form action="" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="form-group">
        {{render_field(form.matricula)}}
    </div>
        {{render_field(form.nombre)}}
        {{render_field(form.Apaterno)}}
        {{render_field(form.Amaterno)}}
        {{render_field(form.email)}}
        <input type="submit" value="Registrar">
    </form>
</div>
<div class="col-xs-6">
    <h3>Matrícula: {{mat}}</h3>
    <h3>Nombre:{{nom}}</h3>
</div>

{%endblock%}

