{% extends "cinepolisTemplate.html"%}

{%block content%}
<div class="container">
    <div>
        <div>
            <h2 style="color: azure;">Entradas</h2>
        </div>
        <div>
            <form class="form-horizontal" name="formEntradas" action="/resultado" method="post">
                <div class="control-group" style="color: azure;">
                    <label for="txtNombre" class="control-label">Nombre: </label>
                    <div class="controls">
                        <input type="text" name="txtNombre">
                    </div>
                </div>
                <div class="control-group" style="color: azure;">
                    <label for="cantComp" class="control-label">Cantidad compradores: </label>
                    <div class="controls">
                        <input type="number" name="cantComp" value="1">
                    </div>
                </div>
                <div class="control-group" style="color: azure;">
                    <div class="controls">
                        <label for="">Tarjeta Cineco</label>
                        <input type="radio" id="radioS" name="rbt" value="radioS">
                        <label for="radioS">SI</label>
                        <input type="radio" id="radioN" name="rbt" value="radioN">
                        <label for="radioN">NO</label>
                        
                    </div>
                </div>
                <div class="control-group" style="color: azure;">
                    <label for="cantBol" class="control-label">Cantidad de boletos: </label>
                    <div class="controls">
                        <input type="number" name="cantBol">
                    </div>
                </div>
                <br><br>
                <h2 style="color: azure;">Acciones</h2>
                <div class="controls">
                    <button type="submit" class="btn btn-default btn-secondary">
                        Procesar
                    </button>
                    <button type="button" class="btn btn-default btn-secondary" onclick="location.href='/layout'">
                        Salir
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="m-3" style="text-align: center;">
        <div>
            <h2 style="color: azure;">Salidas</h2>
        </div>
        <div id="result" style="color: azure;">
            <h3>El monto total es de:  {{res}}</h3>
            <h3>Cliente: {{persona}}</h3>
            <h3>Descuento: {{desc}}</h3>
        </div>
    </div>

</div>
{%endblock%}