<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.min.css">
    <title>Cinepolis Flask</title>
</head>
<style>
    body{
        background-image: url("../static/img/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #0e4797;
    }
</style>
<body>
    <div style="color: azure;">
        <h1 class="text-center">CINEPOLIS</h1>
    </div>
    <div class="container">
        {%block content%}
            
        {%endblock%}

    </div>
</body>
</html>